html, input {
	background-image: url("../img/ohyeahdev.png");
	background-position: 10% 10%;
}

h1 {
    margin: 0 10px;
    font-size: 30px;
    text-align: center;
    color: black;
}

h2 {
	color: grey;
	text-align: center;
}

ul {
 color: black;
}